@keyframes drawCircle {
  0% {
    clip-path: circle(0%);
  }

  25% {
    clip-path: circle(25%);
  }

  50% {
    clip-path: circle(50%);
  }

  75% {
    clip-path: circle(75%);
  }

  100% {
    clip-path: circle(100%);
  }
}